.projects {
  padding: 5rem;

  @include for-tablet-up {
    margin-top: 20rem;
  }

  h2 {
    text-align: center;

    @include for-tablet-up {
      font-size: 3.6rem;
      margin-bottom: 8rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-item {
      width: 30rem;
      background-color: #fff;
      border: 1px solid $lightGray;
      border-radius: 7px;
      margin-bottom: 2rem;

      @include for-tablet-up {
        width: auto;
        max-width: 110rem;
        margin-bottom: 5rem;

        display: flex;
      }

      img {
        width: 30rem;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        border-bottom: 1px solid $lightGray;

        @include for-tablet-up {
          width: 50rem;
          height: auto;
          border-bottom-left-radius: 7px;
          border-top-right-radius: 0px;
          border-bottom: none;
          border-right: 1px solid $lightGray;
        }
      }

      .text {
        padding: 0 2rem 1.5rem 2rem;
        line-height: 1.6;

        @include for-tablet-up {
          padding: 2rem 6rem 5rem 6rem;
        }

        h3 {
          color: $black;

          @include for-tablet-up {
            font-size: 2.2rem;
          }
        }

        p {
          color: $darkGray;

          @include for-tablet-up {
            font-size: 1.4rem;
          }
        }

        a:link,
        a:visited {
          color: $black;
          font-weight: 300;
        }
      }
    }
  }
}
